@media (min-width: 768px) and (max-width: 1199.98px){}


.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 2fr 0.3fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
      ". branding ."
      ". mylogin ."
      ". footerspace .";
  }
  
.branding { 
    grid-area: branding;
    min-width: 180px;
    min-height: 80px;
    padding: 50px 0 100px 0px

 }

.mylogin {   
    padding-top: 5%;
    border: 2px;
}


.footerspace { 
    grid-area: footerspace;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-small;    
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family:'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}